#header{
  text-align: center;
  background-image: url(../images/1.png);
  background-size: cover;
  background-repeat: no-repeat;

}
body{
  background-image: url(../images/2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.slogan{
  max-width: 360px;
}
.logo-01{
  max-width: 130px;
}
.logo-02{
  max-width: 66px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.link{
  background-color: #f2f2f2;
  padding-bottom: 1px;
}
.link h4{
  background-color: #bfbfbf;
  padding: 6px;
}
.ul{
  margin-left: -15px;
}
.pos-rel{
  position: relative;
}
.pos-abs{
  position: absolute;
  left:19%;
}
.col-sm-1 img{
  max-width: 67px;
  background-color: #bfbfbf;
}
.menu-section{
  margin-top: 2%;
  background-color:#e1f0e2;
  min-height: 30px;
}
.menu-section img{
  max-width: 31px;
}
.menu{
  color: #7e9a80;
  font-weight: 700;
}

.col-sm-4-width{
  width: 24%!important;
  margin-right: 2px;
}
.col-sm-6-width{
  width:46.5%;
  margin-right: 2px;
  padding-left: 3px;
  padding-right: 3px; 
}
.FAQ-align{
  float: right;
  margin-top: 0.5%;
}
.menu a{
  color: #7e9a80!important;
}
.menu a:hover{
  text-decoration: none;
}
.menu a:focus{
  text-decoration: none;
}
.col-sm-3-width{
  width:29.2%!important;
}
